@import "tailwindcss";

/* add light mode colors here */
/* :root {
  --text-primary: #ffffff;
  --foreground: #171717;
} */

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--text-primary);
  --color-secondary: var(--text-secondary);
  --color-theme: var(--theme);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-primary: #E8EDDF;
    --text-secondary: #CFDBD5;
    --background: #242423;
    --theme: #F5CB5C;
  }
}

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: "roboto", sans-serif;
}
